<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @seller, partial: "card", as: :seller %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sellers/seller_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sellers/seller_items" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "sellers/seller_messages" %>
  </div>
</div>
