<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @buyer, partial: "card", as: :buyer %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buyers/buyer_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buyers/buyer_items" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "buyers/buyer_messages" %>
  </div>
</div>
